*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/target/*

# VS Code / Eclipse artefacts
.settings/
.vscode/
.idea/
.classpath
.factorypath
.project

# Release plugin artefacts
release.properties
/payara-micro-maven-plugin/nbproject/

# === Allow .war files inside test resources ===
!payara-qube-maven-plugin/src/test/resources/**/*.war